@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #15161b;
  opacity: 90%;
}
